.signpost {
  right: 15%;
  top: 20px;
  width: 305px;
  height: 377px;
  object-fit: contain;
  transform: none;
}

@media (max-width: 1100px) {
  .signpost {
    right: 6%;
    transform: scale(.82);
    transform-origin: top right;
  }
}

@media (max-width: 780px) {
  .signpost {
    right: -65px;
    top: 88px;
    transform: scale(.5);
  }
}
